
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Não autorizado</h1>
<p>Você não tem permissão para acessar esta página. Favor entrar em contato com o administrador do sistema.</p>

